<h2>Template</h2>
<hr>
<ul class="list-group">
  <li
  class="list-group-item list-group-item-action"
  *ngFor="let link of templateMenu"
  [routerLink]=[link.ruta]
  routerLinkActive="active">{{ link.texto }}</li>
</ul>
<br>
<h2>Reactive</h2>
<hr>
<ul class="list-group">
  <li
  class="list-group-item list-group-item-action"
  *ngFor="let link of reactiveMenu"
  [routerLink]=[link.ruta]
  routerLinkActive="active">{{ link.texto }}</li>
</ul>
<br>
<h2>Validaciones</h2>
<hr>
<ul class="list-group">
  <li
  class="list-group-item list-group-item-action"
  *ngFor="let link of authMenu"
  [routerLink]=[link.ruta]
  routerLinkActive="active">{{ link.texto }}</li>
</ul>
<br>
<br>
